# Python 3.9.23
# CUDA 11.8
# Install PyTorch first:
#   pip install torch==2.7.0+cu118 torchvision==0.22.0+cu118 torchaudio==2.7.0+cu118 --index-url https://download.pytorch.org/whl/cu118

accelerate==1.10.1
autoattack @ git+https://github.com/fra31/auto-attack@a39220048b3c9f2cca9a4d3a54604793c68eca7e
beautifulsoup4==4.13.5
easydict==1.13
ftfy==6.3.1
gdown==5.2.0
huggingface-hub==0.34.4
matplotlib==3.9.4
numpy==2.0.2
optuna==4.4.0
pandas==2.3.3
peft==0.15.2
pillow==11.3.0
safetensors==0.6.2
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
timm==1.0.24
tokenizers==0.22.0
tqdm==4.67.1
transformers==4.56.1
